.container_astronautThree {
    width: 352px;
    height: 171px;
    padding-top: 52px;
    border-bottom: 0.3px solid #8D8E97;
    border-top: 0.3px solid #8D8E97;
}

.astronautThree_date {
    color: #8D8E97;
    font-size: 15px;
    font-family: Inter;
    font-weight: 100;
    width: 150px;
    margin-top: 0px;

}

.left_post_astranautThree {
    display: inline-block;
    width: 200px;
}

.astronautThree_title {
    color: #313037;
    font-size: 16px;
    font-family: Inter;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 200px;
}

.astronautThree_text {
    color: #8D8E97;
    font-size: 16px;
    font-family: Inter;
    margin: 5px;
    line-height: 28px;
}

.astronaut_like {
    border: none;
    background-color: white;
}

.astronautThree_image {
    width: 96px;
    height: 96px;
    display: inline-block;
    vertical-align: top;
    padding-left: 55px;
}

.low_astranautThree_post {
    width: 100%;
    margin-top: 10px;

    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;


}

.astanaut_saved_btn {
    border: none;
    background-color: white;
}

.astanaut_tree_btn {
    border: none;
    background-color: white;
}

.low_astranaut_post {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.svg_low_astranaut {
    padding-bottom: 10px;
}