.container_astronautTwo {
    width: 364px;
    height: 395px;
    padding-top: 52px;

    margin-right: 42px;
}

.astronautTwo_date {
    color: #8D8E97;
    font-size: 16px;
    font-family: Inter;
    font-weight: 100;
    width: 300px;
    margin-top: 10px;

}



.astronautTwo_title {
    color: #313037;
    font-size: 18px;
    font-family: Inter;
    margin-top: 10px;
    margin-bottom: 5px;
}

.astronautTwo_text {
    color: #8D8E97;
    font-size: 16px;
    font-family: Inter;
    margin: 5px;
    line-height: 28px;
}

.astronaut_like {
    border: none;
    background-color: white;
}

.astronautTwo_image {
    width: 286px;
    height: 206px;
    display: inline-block;
    vertical-align: top;
}

.low_astranaut_post {
    width: 100%;
}

.astanaut_saved_btn {
    border: none;
    background-color: white;
}

.astanaut_tree_btn {
    border: none;
    background-color: white;
}

.low_astranaut_post {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.svg_low_astranaut {
    padding-bottom: 10px;
}