.header_image_user1 {
    width: 24px;
    height: 24px;
    cursor: pointer;

}

.signUp_container {
    background-color: #E5E5E5;
    width: 100vw;
    height: 100vh;
}

.back_home {
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
    border: none;
    background-color: #E5E5E5;
    font-weight: 100;
    padding: 0;
}

.title_name {
    font-size: 30px;
    margin: 0;
    font-weight: bold;
}

.container_text_header {
    width: 300px;
    margin-left: 15%;
    margin-top: 30px;
    margin-bottom: 28px;
    margin: 0;
}

.container_form {
    width: 720px;
    margin: 0 auto;
    height: 500px;
}

.low_context {
    width: 50%;
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: auto;
    border-top: 0.5px solid gray;
}

.a_link_blog {
    display: inline-flex;
    margin: 0;
    color: #8D8E97;
    margin-top: 30px;
    font-size: 12px;
}

.a_link_legacy {
    display: inline-flex;
    margin: 0;
    color: #8D8E97;
    margin-top: 30px;
    font-size: 12px;

}