.header_container {
    width: 100%;
    height: 55px;
    background-color: #2231AA;
    display: inline-flex;
    justify-content: space-between;
}

.header_search {
    width: 24px;
    height: 24px;

}

.header_left_btn {
    width: 55px;
    height: 55px;
    padding: 0;
    margin: 0;
    background-color: #2231AA;
    border: 1px solid gray;
    border-top: 0px;
    cursor: pointer;


}

.search-container {
    position: relative;
}

.header_search_btn {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    width: 55px;
    height: 55px;

}



.search-input {
    position: relative;
    top: -74%;
    left: 0;
    display: none;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container.active .search-input {
    display: block;
    padding-right: 50px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.nav-bar a {
    color: #fff;
    margin-right: 10px;
    padding: 5px 10px;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: none;
}

.nav-bar a:hover {
    border: 2px solid #fff;
    border-radius: 5px;
}

.header_right_btn {
    width: 24vw;
    height: 55px;
    padding: 0;
    margin: 0;
    background-color: #2231AA;
    margin-right: 20px;
}

.header_searh_btn {
    width: 55px;
    height: 55px;
    padding: 0;
    margin: 0;
    background-color: #2231AA;
    border: 1px solid gray;
    border-top: 0px;
    cursor: pointer;
    vertical-align: bottom;
}

.header_icon_user {
    background-color: #2231AA;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 55px;

    padding: 0px;
    width: 55px;
}

.header_username {
    color: white;
    margin-left: 22px;
    cursor: pointer;
    background-color: #2231AA;
    border: none;
}

.header_image_user {
    width: 48px;
    height: 48px;
    cursor: pointer;

}

.header_image_user1 {
    width: 24px;
    height: 24px;
    cursor: pointer;

}


.header_right_btn_no {
    height: 55px;
    padding: 0;
    margin: 0;
    background-color: #2231AA;
    display: flex;
}