.header_container {
    width: 100vw;
    height: 84px;
    background-color: #5360CD;
    display: inline-flex;
    justify-content: space-between;
}

.header_burger {
    width: 24px;
    height: 24px;
}

.header_left_btn {
    width: 84px;
    height: 84px;
    padding: 0;
    margin: 0;
    background-color: #5360CD;
    border: 1px solid gray;
    border-top: 0px;
    cursor: pointer;


}

.header_right_btn {
    width: 24vw;
    height: 84px;
    padding: 0;
    margin: 0;
    background-color: #5360CD;
    margin-right: 20px;
}

.header_searh_btn {
    width: 84px;
    height: 84px;
    padding: 0;
    margin: 0;
    background-color: #5360CD;
    border: 1px solid gray;
    border-top: 0px;
    cursor: pointer;
    vertical-align: bottom;
}

.header_icon_user {
    background-color: #5360CD;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    height: 84px;
}

.header_username {
    color: white;
    margin-left: 22px;
    cursor: pointer;
    background-color: #5360CD;
    border: none;
}

.header_image_user {
    width: 48px;
    height: 48px;
    cursor: pointer;
}