/* Style for general boxes */
.general-box {
    width: 100%;

    display: flex;
    flex-direction: column;
}

/* Style for general boxes */
.box {
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: center;

}